<div class="spread">
  <h2 class="mat-display-4 title">Low Code Unit Community</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="25%" fxFlex.lt-md="75%" class="spread">
    <img class="mat-full-width" src="https://avatars1.githubusercontent.com/u/48816917?s=200&v=4" />
  </div>

  <div fxFlex="50%" fxFlex.lt-md="75%" class="spread">
    <a mat-raised-button color="primary" href="/org-reg" class="mat-display-2">Continue / Get Started</a>
  </div>
</div>

<div class="spread">
  <h3 class="mat-display-1">
    Powered and Sponsored by
    <a href="http://fathym.com">Fathym, Inc</a>
  </h3>
</div>
