{{ State | json }}

<div class="spread">
  <ng-container *ngIf="!State.Loading">
    <ng-container *ngIf="!State.InfrastructureConfigured">
      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="!State.SetupStep">
        <div fxFlex="70%">
          <h2 class="mat-display-2">To Get Started, Configure Enterprise Infrastructure</h2>
        </div>

        <div fxFlex="40%">
          <mat-card class="spread">
            <ng-container *ngIf="!State.Loading">
              <h2 class="mat-headline">Use Default Azure Configurations</h2>

              <p class="mat-subtitle spread">
                Azure provides a number of ways to work with Devices...
              </p>

              <p class="mat-subtitle">
                To get started, we'll set you up on a set of best practices, you'll be able to customize in the future.
              </p>

              <div class="spread">
                <a mat-raised-button color="accent" (click)="GetStartedWithAzure()">Get Started on Azure</a>
              </div>
            </ng-container>
          </mat-card>
        </div>

        <div fxFlex="40%">
          <mat-card class="spread">
            <ng-container *ngIf="!State.Loading">
              <h2 class="mat-headline">Use AWS Configurations</h2>

              <p class="mat-subtitle spread">
                AWS...
              </p>

              <p class="mat-subtitle">
                Blah blah blah blah, coming soon, blah blah blah....
              </p>

              <div class="spread">
                <a mat-raised-button color="accent" [disabled]="true">AWS Coming Soon!</a>
              </div>
            </ng-container>
          </mat-card>
        </div>

        <div fxFlex="80%">
          <mat-card class="spread">
            <ng-container *ngIf="!State.Loading">
              <h2 class="mat-headline">Orchestrate and Expand an Enterprise Infrastructure</h2>

              <p class="mat-subtitle spread">
                Something about bringing your own infrastructure...
              </p>

              <p class="mat-subtitle">
                Blah blah blah blah, coming soon, blah blah blah....
              </p>

              <div class="spread">
                <a mat-raised-button color="accent" [disabled]="true">Customizable Infrastructure Coming Soon!</a>
              </div>
            </ng-container>
          </mat-card>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="State.SetupStep == SetupStepTypes.Azure">
        <div fxFlex="60%" fxFlex.lt-sm="95%">
          <div class="spread">
            <h2 class="mat-display-2">Configure Azure Infrastructure</h2>

            <mat-slide-toggle [(ngModel)]="UseDefaultSettings">Use Default Azure Settings?</mat-slide-toggle>
          </div>
        </div>

        <div fxFlex="60%" fxFlex.lt-sm="95%">
          <mat-card class="spread" *ngIf="UseDefaultSettings">
            <h3>Default Configuration</h3>

            <div class="spread" *ngIf="State.SourceControlConfigured">
              <a mat-raised-button class="mat-full-width" color="primary" href="">Configure Git Hub Connection</a>
            </div>

            <mat-select>
              <mat-option>Organization</mat-option>
            </mat-select>
          </mat-card>

          <mat-card class="spread" *ngIf="!UseDefaultSettings">
            <h3>Advanced Settings</h3>

            <p>Coming Soon!  Please switch back to Default Azure Settings.</p>
          </mat-card>

          <div class="spread">
            <a mat-raised-button class="mat-full-width" color="accent" (click)="Configure()">Configure Azure Infrastructure</a>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <mat-spinner *ngIf="State.Loading"></mat-spinner>
</div>
