<div class="spread">
  <ng-container *ngIf="!State.Loading">
    <ng-container *ngIf="!State.InfrastructureConfigured">
      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="!State.SetupStep">
        <div fxFlex="70%">
          <h2 class="mat-display-2">To Get Started, Configure Enterprise Infrastructure</h2>
        </div>

        <div fxFlex="40%">
          <mat-card class="spread">
            <ng-container *ngIf="!State.Loading">
              <h2 class="mat-headline">Use Default Azure Configurations</h2>

              <p class="mat-subtitle spread">
                Azure provides a number of ways to work with Devices...
              </p>

              <p class="mat-subtitle">
                To get started, we'll set you up on a set of best practices, you'll be able to customize in the future.
              </p>

              <div class="spread">
                <a mat-raised-button color="accent" (click)="GetStartedWithAzure()">Get Started on Azure</a>
              </div>
            </ng-container>
          </mat-card>
        </div>

        <div fxFlex="40%">
          <mat-card class="spread">
            <ng-container *ngIf="!State.Loading">
              <h2 class="mat-headline">Use AWS Configurations</h2>

              <p class="mat-subtitle spread">
                AWS...
              </p>

              <p class="mat-subtitle">
                Blah blah blah blah, coming soon, blah blah blah....
              </p>

              <div class="spread">
                <a mat-raised-button color="accent" [disabled]="true">AWS Coming Soon!</a>
              </div>
            </ng-container>
          </mat-card>
        </div>

        <div fxFlex="80%">
          <mat-card class="spread">
            <ng-container *ngIf="!State.Loading">
              <h2 class="mat-headline" jjhhbv>Orchestrate and Expand an Enterprise Infrastructure</h2>

              <p class="mat-subtitle spread">
                Something about bringing your own infrastructure...
              </p>

              <p class="mat-subtitle">
                Blah blah blah blah, coming soon, blah blah blah....
              </p>

              <div class="spread">
                <a mat-raised-button color="accent" [disabled]="true">Customizable Infrastructure Coming Soon!</a>
              </div>
            </ng-container>
          </mat-card>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="State.SetupStep == SetupStepTypes.Azure">
        <div fxFlex="60%" fxFlex.lt-sm="95%">
          <div class="spread">
            <h2 class="mat-display-2">Configure Azure Infrastructure</h2>

            <!-- <mat-slide-toggle [(ngModel)]="UseDefaultSettings">Use Default Azure Settings?</mat-slide-toggle> -->
          </div>
        </div>

        <div fxFlex="60%" fxFlex.lt-sm="95%">
          <mat-card class="spread" *ngIf="UseDefaultSettings">
            <ng-container>
              <div class="spread">
                <h4>Git Hub Source Control Setup</h4>

                <div class="spread" *ngIf="!State.SourceControlConfigured">
                  <a mat-raised-button class="mat-full-width" color="primary" [href]="GitHubOAuthURL">Configure Git Hub Connection</a>
                </div>

                <mat-form-field class="mat-full-width" *ngIf="State.SourceControlConfigured">
                  <mat-select placeholder="GitHub Organization" (selectionChange)="SetOrg($event)" [value]="State.GitHub.SelectedOrg">
                    <mat-option *ngFor="let org of State.GitHub.Organizations" [value]="org.Login">{{ org.Login }}</mat-option>
                  </mat-select>

                  <mat-hint>It is recommended that you create a new organization to contain your LCU automation.</mat-hint>
                </mat-form-field>
              </div>
            </ng-container>
          </mat-card>

          <mat-card class="spread" *ngIf="UseDefaultSettings && State.SourceControlConfigured && State.GitHub.SelectedOrg">
            <ng-container>
              <div class="spread">
                <h4>Azure Subscription Setup</h4>

                <ng-container>
                  <div class="spread">
                    <p class="mat-body-2">
                      You will need your own azure enteprise and subscription to get started, if you don't already have one you can follow
                      these instructions to create one
                    </p>

                    <a
                      mat-stroked-button
                      color="primary"
                      target="_blank"
                      class="mat-full-width spread"
                      href="https://azure.microsoft.com/free/"
                    >
                      Create Free Azure Account
                    </a>

                    <p class="mat-body-2">
                      In order to help you manage your enterprise infrastructure, you'll need to give us access to your subscription.
                    </p>

                    <a
                      mat-stroked-button
                      color="primary"
                      target="_blank"
                      class="mat-full-width spread"
                      href="https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal"
                    >
                      Follow these directions to find configuration information
                    </a>
                  </div>

                  <mat-form-field class="mat-full-width">
                    <input matInput placeholder="Azure Tenant (Directory) ID" [(ngModel)]="State.EnvSettings['AzureTenantID']" />

                    <mat-hint>....</mat-hint>
                  </mat-form-field>

                  <mat-form-field class="mat-full-width">
                    <input matInput placeholder="Azure Subscription ID" [(ngModel)]="State.EnvSettings['AzureSubID']" />

                    <mat-hint>....</mat-hint>
                  </mat-form-field>

                  <mat-form-field class="mat-full-width">
                    <input matInput placeholder="Azure App ID" [(ngModel)]="State.EnvSettings['AzureAppID']" />

                    <mat-hint>....</mat-hint>
                  </mat-form-field>

                  <mat-form-field class="mat-full-width">
                    <input matInput placeholder="Azure App Auth key" [(ngModel)]="State.EnvSettings['AzureAppAuthKey']" />

                    <mat-hint>....</mat-hint>
                  </mat-form-field>
                </ng-container>
              </div>
            </ng-container>
          </mat-card>

          <mat-card class="spread" *ngIf="!UseDefaultSettings">
            <h3>Advanced Settings</h3>

            <p>Coming Soon! Please switch back to Default Azure Settings.</p>
          </mat-card>

          <div class="spread" *ngIf="State.SourceControlConfigured">
            <a mat-raised-button class="mat-full-width" color="accent" (click)="Configure()">Configure Azure Infrastructure</a>

            <a mat-button class="mat-full-width" color="warn" (click)="CancelSetup()">Back To Setup</a>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="State.InfrastructureConfigured">
      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="State.SetupStep == SetupStepTypes.Azure">
        <div fxFlex="60%" fxFlex.lt-sm="95%">
          <div class="spread">
            <h2 class="mat-display-2">Setup {{ State.Environment.Name }} Infrastructure</h2>
          </div>
        </div>

        <div fxFlex="60%" fxFlex.lt-sm="95%">
          <mat-card class="spread">
            <ng-container>
              <div class="spread">
                <h4>Template Settings</h4>

                <mat-form-field class="mat-full-width">
                  <mat-select placeholder="Infrastructure Template" (selectionChange)="SetInfraTemplate($event)" [value]="State.InfraTemplate.SelectedTemplate">
                    <mat-option *ngFor="let opt of State.InfraTemplate.Options" [value]="opt">{{ opt }}</mat-option>
                  </mat-select>

                  <mat-hint>Select from the available templates.</mat-hint>
                </mat-form-field>
              </div>
            </ng-container>
          </mat-card>

          <div class="spread" *ngIf="State.SourceControlConfigured">
            <a mat-raised-button class="mat-full-width" color="accent" (click)="CommitInfra()">Commit {{ State.Environment.Name }} Infrastructure</a>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <mat-spinner *ngIf="State.Loading"></mat-spinner>
</div>

<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="EntInfraFormGroup">
      <form [formGroup]="EntInfraFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>

        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
