<div class="spread" *ngIf="!State.Loading">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="90%">
      <mat-card class="spread">
        <div class="spread">
          <h2 class="mat-display-2">Finalizing Your Application Setup</h2>

          <p class="mat-body-3 plain-text">
            Let's take a look at what we have set up so far, get you reading on next steps, and we'll let you know when everything is setup
            and ready to go...
          </p>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50%" fxFlex.lt-md="90%">
      <mat-card class="spread">
        <mat-card-header>
          <mat-icon mat-card-avatar>lock</mat-icon>

          <mat-card-title>LCU Orchestration</mat-card-title>
        </mat-card-header>

        <div>
          <p class="mat-body-2 plain-text spread">
            In order to help orchestrate the various aspects of the LowCodeUnit community into the solutions your building, we had to create
            and get hooked into a few of your systems.
          </p>

          <mat-nav-list>
            <mat-list-item>
              <mat-icon matListIcon>check_box</mat-icon>

              <div matLine>Secure Connection to Azure</div>

              <a
                mat-icon-button
                target="_blank"
                href="https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredAppsPreview"
              >
                <mat-icon>settings</mat-icon>
              </a>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>check_box</mat-icon>

              <div matLine>Secure Connection to GitHub</div>

              <a mat-icon-button target="_blank" href="https://github.com/settings/applications">
                <mat-icon>settings</mat-icon>
              </a>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>check_box</mat-icon>

              <div matLine>Secure Connection to Azure Dev Ops</div>

              <a mat-icon-button target="_blank" href="https://aex.dev.azure.com/me?mkt=en-US&campaign=o~msft~vsts~usercard">
                <mat-icon>settings</mat-icon>
              </a>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>check_box</mat-icon>

              <div matLine>Secure Connection to NPM</div>

              <a mat-icon-button target="_blank" href="https://www.npmjs.com/settings/mcgear/tokens">
                <mat-icon>settings</mat-icon>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50%" fxFlex.lt-md="90%">
      <mat-card class="spread">
        <mat-card-header>
          <mat-icon mat-card-avatar>code</mat-icon>

          <mat-card-title>Source Control Configuration</mat-card-title>
        </mat-card-header>

        <div>
          <p class="mat-body-2 plain-text spread">
            For next steps on starting development against your new repositories, look below.
          </p>

          <mat-nav-list>
            <mat-list-item>
              <mat-icon matListIcon>check_box</mat-icon>

              <div matLine>Connected to your GitHub Organization:</div>

              <div matLine>
                <strong>{{ State.GitHub.SelectedOrg }}</strong>
              </div>

              <a mat-icon-button target="_blank" href="https://github.com/settings/organizations">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>check_box</mat-icon>

              <div matLine>Created an infrastructure repo:</div>

              <div matLine>
                <strong>@{{ GitHubOrg }}/{{ GitHubRepo }}</strong>
              </div>

              <a mat-icon-button target="_blank" href="https://github.com/{{ GitHubOrg }}/{{ GitHubRepo }}">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>{{ State.AppSeed.HasBuild ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>

              <div matLine>Created a repository for your {{ State.AppSeed?.SelectedSeed }} application:</div>

              <div matLine>
                <strong>@{{ GitHubOrg }}/{{ State.AppSeed.NewName }}</strong>
              </div>

              <a mat-icon-button target="_blank" href="https://github.com/{{ GitHubOrg }}/{{ State.AppSeed?.NewName }}" [disabled]="!State.AppSeed.HasBuild">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-list-item>
          </mat-nav-list>

          <div class="spread" *ngIf="!State.AppSeed.HasBuild">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50%" fxFlex.lt-md="90%">
      <mat-card class="spread">
        <mat-card-header>
          <mat-icon mat-card-avatar>cloud</mat-icon>

          <mat-card-title>Azure Dev/Ops</mat-card-title>
        </mat-card-header>

        <div>
          <p class="mat-body-2 plain-text spread">
            In order to simplify and streamline your development process, we've setup a Dev/Ops process for you.
          </p>

          <mat-nav-list>
            <mat-list-item>
              <mat-icon matListIcon>{{ State.AppSeed.InfraBuilt ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>

              <div matLine>
                Deployed your first version of <strong>{{ State.InfraTemplate.SelectedTemplate }}</strong> Infrastructure to
                <strong>{{ State.Environment.Lookup }}</strong>
              </div>

              <a mat-icon-button target="_blank" href="https://portal.azure.com" [disabled]="!State.AppSeed.InfraBuilt">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>{{ State.AppSeed.HasBuild ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>

              <div matLine>Established a new Azure Dev Ops Project ({{ State.DevOps.ProjectName }}) with automated builds and releases</div>

              <a mat-icon-button target="_blank" href="https://fathym.visualstudio.com/{{ State.DevOps.ProjectName }}/_build" [disabled]="!State.AppSeed.HasBuild">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-list-item>
          </mat-nav-list>

          <div class="spread" *ngIf="!State.AppSeed.InfraBuilt || !State.AppSeed.HasBuild">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
    </div>

    <div fxFlex="50%" fxFlex.lt-md="90%">
      <mat-card class="spread">
        <mat-card-header>
          <mat-icon mat-card-avatar>dashboard</mat-icon>

          <mat-card-title>Application Seed</mat-card-title>
        </mat-card-header>

        <div>
          <p class="mat-body-2 plain-text spread">
            Utilizing all your created assets, we have setup a default application for you and hosted it in the Dynamic Application
            Framework.
          </p>

          <mat-nav-list>
            <mat-list-item>
              <mat-icon matListIcon>{{ State.AppSeed.AppSeeded ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>

              <div matLine>
                Seeded your application repository with <strong>{{ State.AppSeed.SelectedSeed }}</strong> template.
              </div>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>{{ State.AppSeed.Step == AppSeedStepTypes.Created ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>

              <div matLine>Established a Data Applications configuration in your forge</div>

              <a mat-icon-button target="_blank" href="/{{ GitHubOrg }}/{{ State.AppSeed.NewName }}" [disabled]="State.AppSeed.Step != AppSeedStepTypes.Created">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>{{ State.AppSeed.Step == AppSeedStepTypes.Created ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>

              <div matLine>
                Prepared your forge with default Low Code Units to manage your current configuration
              </div>

              <a mat-icon-button target="_parent" href="/forge" [disabled]="State.AppSeed.Step != AppSeedStepTypes.Created">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-list-item>
          </mat-nav-list>

          <div class="spread" *ngIf="!State.AppSeed.AppSeeded || State.AppSeed.Step != AppSeedStepTypes.Created">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
    </div>

    <div fxFlex="90%">
      <mat-card class="spread">
        <mat-card-header>
          <mat-icon mat-card-avatar>search</mat-icon>

          <mat-card-title>Getting Started & Next Steps</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
<!--
  <pre style="text-align: left;">{{ State | json }}</pre> -->
</div>

<div class="spread" *ngIf="State.Loading">
  <mat-spinner></mat-spinner>
</div>
