<mat-grid-list class="fit-grid grid-start side-bar-grid" cols="1" rowHeight="fit">
  <mat-grid-tile>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let section of SideBar?.Sections">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{section.Title}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let action of section.Actions">
            <a matLine>{{action.Title}}</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
</mat-grid-list>
