<div fxLayout="row wrap" fxLayoutAlign="center stretch" class="identity">
  <div fxFlex="30%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="1" class="details">
    <div class="inner">
      <div *ngIf="State.Step == 'New'">
        <h1 class="mat-display-1">Welcome, Let's Get Started</h1>

        <h2 class="mat-headline title title">Your organization serves as the backbone for organizing the solutions you build...</h2>
      </div>

      <div *ngIf="State.Step == 'Host'">
        <h1 class="mat-display-1">Create Organization Host</h1>

        <ng-container *ngIf="State.HostFlow == null">
          <h2 class="mat-headline title title">If you have your own organization domain, follow that flow to validate domain ownership.</h2>

          <h2 class="mat-headline title title">If you would like to use a shared domain, please follow that flow to secure your unused domain.</h2>
        </ng-container>

        <ng-container *ngIf="State.HostFlow == 'shared'">
          <h2 class="mat-headline title title">Select the root domain for your shared site.</h2>

          <h2 class="mat-headline title title">
            Choose the desired subdomain for your shared site, and click confirm to verify it is available and secure it.
          </h2>
        </ng-container>

        <ng-container *ngIf="State.HostFlow == 'private'">
          <h2 class="mat-headline title title">
            Enter the full domain that you would like to use for your site. Something like:
          </h2>

          <h2 class="mat-headline title title">
            www.my-domain.com
          </h2>

          <h2 *ngIf="HostValid" class="mat-headline title title">
            Then you will need to add a CNAME record for your domain provider.  The record should have '{{ Subdomain }}' point to 'lcu-prd.azurewebsites.net'
          </h2>
        </ng-container>
      </div>

      <div *ngIf="State.Step == 'Provisioning'">
        <h1 class="mat-display-2">Thank You</h1>

        <h2 class="mat-headline title title">{{ State.Provisioning }}</h2>
      </div>
    </div>
  </div>

  <div fxFlex="70%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="0" class="content">
    <div class="inner">
      <div>
        <div *ngIf="!State.Loading">
          <form *ngIf="State.Step == 'New'" [formGroup]="NewForm" (ngSubmit)="CreateOrg()">
            <h1 class="mat-display-3">Create New Organization</h1>

            <mat-form-field class="mat-full-width">
              <input matInput placeholder="Organization Name" formControlName="name" required />
            </mat-form-field>

            <mat-form-field class="mat-full-width">
              <textarea matInput placeholder="Description" formControlName="desc" required></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" class="mat-button-lg" [disabled]="!NewForm.valid">Create Organization</button>
          </form>

          <form *ngIf="State.Step == 'Host'" [formGroup]="HostForm" (ngSubmit)="SecureHost()">
            <h1 class="mat-display-3">Establish {{ State.OrganizationName }} Host</h1>

            <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="!State.HostFlow">
              <div fxFlex="50%" fxFlex.lt-md="100%">
                <mat-card>
                  <h2 class="mat-headline title title">Use a Fathym Domain</h2>

                  <p class="mat-subtitle paragraph-title paragraph-title">
                    Don't have your own domain? Or just want to get started quickly? This is the route for you.
                  </p>

                  <p class="mat-subtitle paragraph-title paragraph-title">
                    You'll be able to add your own domain later on, click below to get started.
                  </p>

                  <a mat-raised-button color="accent" (click)="SetHostFlow('shared')">Use Fathym Domain</a>
                </mat-card>
              </div>

              <div fxFlex="50%" fxFlex.lt-md="100%">
                <mat-card>
                  <h2 class="mat-headline title title">Bring Your Own Domain</h2>

                  <p class="mat-subtitle paragraph-title paragraph-title">
                    Ready to get started forging your own domain? We'll walk you through getting started here.
                  </p>

                  <p class="mat-subtitle paragraph-title paragraph-title">
                    You'll be able to add more domains later on, so click below to get started
                  </p>

                  <a mat-raised-button color="primary" (click)="SetHostFlow('private')">Use Custom Domain</a>
                </mat-card>
              </div>
            </div>

            <ng-container *ngIf="State.HostFlow">
              <mat-form-field class="mat-full-width" *ngIf="State.HostFlow == 'shared'">
                <mat-select placeholder="Root Domain" formControlName="root">
                  <mat-option [value]="host" *ngFor="let host of State.HostOptions">{{ host }}</mat-option>
                </mat-select>
              </mat-form-field>

              <ng-container *ngIf="HostForm.controls['root'].value || State.HostFlow == 'private'">
                <mat-form-field class="mat-full-width">
                  <input matInput placeholder="Host Address" [(ngModel)]='name' (ngModelChange)="onChanges()" formControlName="host" required />

                  <span matSuffix *ngIf="State.HostFlow == 'shared'">.{{ HostForm.controls['root'].value }}</span>
                </mat-form-field>

                <div *ngIf="State.HostApprovalMessage">
                  <h2>{{ State.HostApprovalMessage }}</h2>
                </div>

                <button mat-raised-button color="primary" class="mat-button-lg" [disabled]="!HostForm.valid || !HostValid">
                  Setup Host
                </button>
              </ng-container>

              <div>
                <a mat-button (click)="SetHostFlow(null)"><mat-icon>cancel</mat-icon> Back To Host Options</a>
              </div>
            </ng-container>
          </form>

          <div *ngIf="State.Step == 'Provisioning'">
            <h1 class="mat-display-3">Creating Your {{ State.OrganizationName }} Forge</h1>

            <a mat-button href="https://{{ State.Host }}/forge" class="mat-headline title">{{ State.Host }}</a>

            <p class="mat-body-2 plain-text">
              Redirecting in 5 seconds...
            </p>
          </div>
        </div>

        <div *ngIf="State.Loading || State.Step == 'Provisioning'">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
